
        var {{{OUTREL}}}RESULT = stdDev({{{INREL}}}, {{{INREL}}}KeepRows, {{{KEY_COL}}}, {{{AGG_COL}}});
        var {{{OUTREL}}} = {{{OUTREL}}}RESULT[0];
        var {{{OUTREL}}}KeepRows = {{{OUTREL}}}RESULT[1];