
        var {{{OUTREL}}}RESULT = bubbleSort({{{INREL}}}, {{{INREL}}}KeepRows, {{{KEY_COL}}});
        var {{{OUTREL}}} = {{{OUTREL}}}RESULT[0];
        var {{{OUTREL}}}KeepRows = {{{OUTREL}}}RESULT[1];
