
        var {{{OUTREL}}}RESULT = join({{{LEFTREL}}}, {{{RIGHTREL}}}, {{{LEFTREL}}}KeepRows, {{{RIGHTREL}}}KeepRows, {{{LEFT_JOINCOL}}}, {{{RIGHT_JOINCOL}}});
        var {{{OUTREL}}} = {{{OUTREL}}}RESULT[0];
        var {{{OUTREL}}}KeepRows = {{{OUTREL}}}RESULT[1];
