(function(exports, node) {
  var saved_instance;

  /**
   * Connect to the server and initialize the jiff instance
   */
  exports.connect = function (hostname, computation_id, options) {
    var opt = Object.assign({}, options);

    if(node)
      jiff = require('{{{JIFF_PATH}}}/lib/jiff-client');

    saved_instance = jiff.make_jiff(hostname, computation_id, opt);
    return saved_instance;
  };


 const project = function(inRel, keepRows, projCols)
  {

    var ret = [];
    var keepRowsResult = [];

    for (var i = 0; i < inRel.length; i++)
    {
      ret.push([]);
      keepRowsResult.push(keepRows[i]);
      for (var j = 0; j < projCols.length; j++)
      {
        ret[i].push(inRel[i][projCols[j]]);
      }
    }
    return [ret, keepRowsResult];
  };

  const join = function(leftRel, rightRel, leftKeepRows, rightKeepRows, leftJoinColIdx, rightJoinColIdx)
  {

    var ret = [];
    var keepRowsResult = [];

    for (var i = 0; i < leftRel.length; i++)
    {
      for (var j = 0; j < rightRel.length; j++)
      {
        var leftJoinCol = leftRel[i][leftJoinColIdx];
        var rightJoinCol = rightRel[j][rightJoinColIdx];

        var newLeft = leftRel[i].slice();
        var newRight = rightRel[j].slice();
        newLeft.splice(leftJoinColIdx, 1);
        newRight.splice(rightJoinColIdx, 1);
        var newRow = [leftJoinCol].concat(newLeft).concat(newRight);
        ret.push(newRow);

        var eqFlag = leftJoinCol.seq(rightJoinCol);
        var keepRowsFlag = leftKeepRows[i].smult(rightKeepRows[j]).smult(eqFlag);
        keepRowsResult.push(keepRowsFlag);
      }
    }

    return [ret, keepRowsResult];
  };

  const multiply = function(inRel, keepRows, newCol, targetCol, operands, scalar)
  {
    var ret = [];
    var keepRowsResult = [];

    for (var i = 0; i < inRel.length; i++)
    {
      keepRowsResult.push(keepRows[i]);
      var targetVal = inRel[i][targetCol].cmult(scalar);
      for (var j = 0; j < operands.length; j++)
      {
        targetVal = targetVal.smult(inRel[i][operands[j]]);
      }
      if (newCol)
      {
        var newRow = inRel[i].concat([targetVal]);
        ret.push(newRow);
      }
      else
      {
        inRel[i][targetCol] = targetVal;
        ret.push(inRel[i]);
      }
    }

    return [ret, keepRowsResult];
  }

  const divide = function(inRel, keepRows, newCol, targetCol, operands, scalar)
  {
    var ret = [];
    var keepRowsResult = [];

    for (var i = 0; i < inRel.length; i++)
    {
      keepRowsResult.push(keepRows[i]);
      var targetVal = inRel[i][targetCol].cdiv(scalar);
      for (var j = 0; j < operands.length; j++)
      {
        targetVal = targetVal.sdiv(inRel[i][operands[j]]);
      }
      if (newCol)
      {
        var newRow = inRel[i].concat([targetVal]);
        ret.push(newRow);
      }
      else
      {
        inRel[i][targetCol] = targetVal;
        ret.push(inRel[i]);
      }
    }

    return [ret, keepRowsResult];
  }

  const concatenate = function(inRels, keepRows)
  {
    var ret = [];
    var keepRowsResult = [];

    for (var i = 0; i < inRels.length; i++)
    {
      for (var j = 0; j < inRels[i].length; j++)
      {
        ret.push(inRels[i][j]);
        keepRowsResult.push(keepRows[i][j]);
      }
    }

    return [ret, keepRowsResult];
  };

  const bubbleSort = function(inRel, keepRows, keyCol)
  {

    var numCols = inRel[0].length;

    for (var i = 0; i < inRel.length; i++) {
      for (var j = 0; j < (inRel.length - i - 1); j++) {
        var a = inRel[j][keyCol];
        var b = inRel[j+1][keyCol];
        var cmp = a.slt(b);

        for (var k = 0; k < numCols; k++)
        {

          var tempOne = cmp.if_else(inRel[j][k], inRel[j+1][k]);
          var tempTwo = cmp.if_else(inRel[j+1][k], inRel[j][k]);

          inRel[j][k] = tempOne;
          inRel[j+1][k] = tempTwo;
        }

        var keepOne = cmp.if_else(keepRows[j], keepRows[j+1]);
        var keepTwo = cmp.if_else(keepRows[j+1], keepRows[j]);

        keepRows[j] = keepOne;
        keepRows[j+1] = keepTwo;
      }
    }

    return [inRel, keepRows];
  }

  const open = function(inRel, keepRows)
  {
    var results = saved_instance.open_2D_array(inRel);
    var keepRowsResults = saved_instance.open_array(keepRows);

    return Promise.all([results, keepRowsResults]).then(function(arr){
      var openedRes = arr[0];
      var openedKeep = arr[1];
      var ret = [];

      for (var i = 0; i < openedRes.length; i++)
      {
        if (openedKeep[i] === 1)
        {
          ret.push(openedRes[i])
        }
      }

      return ret;
    });
  };

  /**
   * The MPC computation
   */
  exports.compute = function (input, jiff_instance) {
    if(jiff_instance == null) jiff_instance = saved_instance;

    var fs = require('fs');

    // NOTE: assuming 1 file per party here

    var inputData = [];
    var keepRows = [];
    var unparsedData = (fs.readFileSync(input, 'UTF-8')).trim();
    var rows = unparsedData.split('\n');

    // start at one, skip header row
    for (let i = 1; i < rows.length; i++)
    {
      let arr = rows[i].split(',').map(Number);
      inputData.push(arr);
      keepRows.push(1);
    }

    var dataShares = jiff_instance.share_2D_array(inputData);
    var keepRowShares = jiff_instance.share_array(keepRows);

    var computation = Promise.all([dataShares, keepRowShares]).then(function(arr) {
        {{{OP_CODE}}}
    });

    return computation.then(function(opened) {
        return opened;
    });
  };
}((typeof exports == 'undefined' ? this.mpc = {} : exports), typeof exports != 'undefined'));
