
        var {{{OUTREL}}}RESULT = project({{{INREL}}}, {{{INREL}}}KeepRows, {{{PROJCOLS}}});
        var {{{OUTREL}}} = {{{OUTREL}}}RESULT[0];
        var {{{OUTREL}}}KeepRows = {{{OUTREL}}}RESULT[1];
