data = sc.parallelize({{{ZIPPED_COLS}}})

agg_data = data.aggregateByKey([0], \
    lambda acc, val: list(numpy.add(acc,val)), \
    lambda acc1, acc2: list(numpy.add(acc1, acc2))) \
    .collect()

updateKeyCol = [a for a,b in agg_data]
updateAggCol = [b for a,b in agg_data]
