
k = {{{GROUPCOL_IDS}}}
a = {{{AGGCOL_IDS}}}

{{{OUTREL}}} = {{{INREL}}} \
    .map(lambda x: ([x[i] for i in k], [int(x[j]) for j in a])) \
    .map(lambda x: (tuple(x[0]), tuple(x[1]))) \
    .aggregateByKey((0,0), \
        lambda acc, val: tuple(map(sum, zip(acc, val))), \
        lambda acc1, acc2: tuple(map(sum, zip(acc1, acc2)))) \
    .map(lambda x: list(x[0] + x[1])) \
    {{{CACHE_VAR}}}
