# assume rows of hdfs file are indexed by col id's
k_id = int({{{KEYCOL_ID}}})
a_id = int({{{AGGCOL_ID}}})

# get relevant cols by id
keyCol = {{{INREL}}} \
    .filter(lambda x: x[1] == k_id) \
    .flatMap(lambda x: x[0])

aggCol = {{{INREL}}} \
    .filter(lambda x: x[1] == a_id) \
    .flatMap(lambda x: x[0])

{{{OUTREL}}} = keyCol \
    .countByKey() \
    .items()
