data = sc.parallelize({{{ZIPPED_COLS}}})
agg_data = list(data.countByKey().items())

{{{RELATION_NAME}}}.keyCol = [a for a,b in agg_data]
{{{RELATION_NAME}}}.aggCol = [b for a,b in agg_data]
{{{RELATION_NAME}}}.updateOpSpecificCols()