k_id = int({{{KEYCOL_ID}}})
a_id = int({{{AGGCOL_ID}}})

{{{OUTREL}}} = {{{INREL}}} \
    .map(lambda x: (x[k_id], x[a_id])) \
    .aggregateByKey(0, \
        lambda acc, val: acc + val, \
        lambda acc1, acc2: acc1 + acc2)





