#!/bin/bash

if [[ $# -lt 1 ]]; then
  echo "usage: run.sh <MASTER URL>"
  exit 1
fi

MASTER_URL=$1

spark-submit --conf "spark.local.dir=/mnt/hdfs/spark-tmp" --master ${MASTER_URL} {{{PATH}}}/workflow.py {{{INPUTS}}} {{{OUTPUTS}}}
