in_cols = {{{INRELS}}}

f = []
for rel in in_rels:
    f.append(rel.zipWithIndex())

{{{OUTREL}}} = sc.union(f) \
    .groupBy(lambda x:x[1]) \
    .values() \
    .map(lambda x: [y[0] for y in x]) \
    .map(lambda x: (numpy.array(x).flatten().tolist()))
