
scalar = {{{SCALAR}}}
operands = {{{OPERANDS}}}
target_id = {{{TARGET_ID}}}
new_col_flag = {{{NEWCOL_FLAG}}}

if not new_col_flag:
    {{{OUTREL}}} = {{{INREL}}} \
    .map(lambda x: [int(float(x[j]) / (functools.reduce(operator.mul, \
        [float(x[i]) for i in operands], 1)*scalar)) \
        if j == target_id \
        else x[j] for j in range(len(x))]) \
    {{{CACHE_VAR}}}
else:
    {{{INREL}}}.cache()
    new_col = {{{INREL}}} \
        .map(lambda x: functools.reduce(operator.truediv, [float(x[i]) for i in operands], 1) / scalar)
    {{{OUTREL}}} = {{{INREL}}} \
        .zip(new_col) \
        .map(lambda x: numpy.hstack(x).tolist()) \
        {{{CACHE_VAR}}}

