
scalar = {{{SCALAR}}}
operands = {{{OPERANDS}}}
target_id = {{{TARGET_ID}}}

{{{OUTREL}}} = {{{INREL}}} \
    .map(lambda x: [x[j]/(functools.reduce(operator.mul, [x[i] if i in set(operands) \
        else 1 for i in range(len(x))], 1)*scalar) if j == target_id \
        else x[j] for j in range(len(x))]) \
    .cache()