from pyspark import SparkContext, SparkConf
import numpy, functools, operator

conf = SparkConf().setAppName("{{{JOB_NAME}}}").setMaster("{{{SPARK_MASTER}}}")
sc = SparkContext(conf=conf)

{{{OP_CODE}}}
