lCol = [{{{LEFT_COL}}}]
rCol = [{{{RIGHT_COL}}}]

l = {{{LEFT_PARENT}}} \
    .map(lambda x: (tuple([x[i] for i in lCol]), \
        [x[i] for i in range(len(x)) if i not in set(lCol)]))

r = {{{RIGHT_PARENT}}} \
    .map(lambda x: (tuple([x[i] for i in rCol]), \
        [x[i] for i in range(len(x)) if i not in set(rCol)]))

{{{OUTREL}}} = l \
    .join(r) \
    .map(lambda x: numpy.hstack([elem for tupl in x for elem in tupl]).tolist())