
scalar = {{{SCALAR}}}
operands = {{{OPERANDS}}}
target_id = {{{TARGET_ID}}}
new_col_flag = {{{NEWCOL_FLAG}}}

if not new_col_flag:
    {{{OUTREL}}} = {{{INREL}}} \
        .map(lambda x: [functools.reduce(operator.mul, \
            [float(x[i]) for i in operands], 1)*float(x[j])*scalar \
            if j == target_id \
            else x[j] for j in range(len(x))]) \
        .cache()
else:
    new_col = {{{INREL}}} \
        .map(lambda x: functools.reduce(operator.mul, [float(x[i]) for i in operands], 1)*scalar) \
        .cache()

    {{{OUTREL}}} = {{{INREL}}} \
        .zip(new_col) \
        .map(lambda x: numpy.hstack(x).tolist()) \
        .cache()

