operand_ids = set(int(c) for c in {{{OPERAND_IDS}}})
target_id = int({{{TARGET_ID}}})

op_cols = {{{INREL}}} \
    .filter(lambda x: x[1] in operand_ids) \
    .map(lambda x: x[0])

# collect so that it can be multiplied by each column in op_cols
t_col = {{{INREL}}} \
    .filter(lambda x: x[1] == target_id) \
    .map(lambda x: x[0]) \
    .collect()

{{{OUTREL}}} = op_cols \
    .map(lambda x: numpy.multiply(x, t_col).tolist()[0]) \
    .zipWithIndex()

