'''
data = {
    'COL_IDS': [c.idx for c in cols],
    'INREL': project_op.getInRel().name,
    'OUTREL': project_op.outRel.name
}
'''

col_ids = set(int(c) for c in {{{COL_IDS}}})

cols = {{{INREL}}} \
    .filter(lambda x: x[1] in col_ids) \
    .map(lambda x: x[0])

