
{{{RELATION_NAME}}} \
    .write \
    .csv("{{{OUTPUT_PATH}}}/{{{RELATION_NAME}}}")

end = time.time()
dur = str(end-start)

print('****************\n')
print('****************\n')
print('****************\n')
print('Job completed in {} seconds'.format(dur))
print('****************\n')
print('****************\n')
print('****************\n')
