#include <obliv.h>
#include <obliv.oh>

#define ROWS 1000
#define COLS 50

typedef struct
{
    float mat[ROWS][COLS];
    int rows;
    int cols;
} Io;

typedef struct
{
	char *src;
	char *out;
	Io in1;
	Io in2;

	int out_rows;
	int out_cols;
	float **ret;

} protocolIo;

typedef struct
{
	int rows;
	int cols;
	obliv int *keepRows;
	obliv float **mat;

} intermediateMat;

void protocol(void *args);

