#include <obliv.h>
#include <obliv.oh>

#define ROWS {{{NUM_ROWS}}}
#define COLS {{{NUM_COLS}}}

typedef struct
{
	char *src;
	char *out;
	int rows;
	int cols;
	int mat[ROWS][COLS];
	int **ret;

} protocolIo;

typedef struct
{
	int rows;
	int cols;
	obliv int **mat;

} intermediateMat;

void protocol(void *args);
