#include <obliv.h>
#include <obliv.oh>

#define COLS 4

typedef struct
{
	char *src;
	char *out;
	int rows;
	int cols;
	float mat[1000][50];
	float **ret;

} protocolIo;

typedef struct
{
	int rows;
	int cols;
	obliv float **mat;

} intermediateMat;

void protocol(void *args);

