#include <stdio.h>
#include <string.h>
#include <stdlib.h>
#include <obliv.oh>
#include <math.h>

#include "workflow.h"

int checkInputCols
	(
	int colsOne,
	int colsTwo
	)
{
	if (colsOne != colsTwo)
	{
		printf("Unequal number of cols.");
		exit(1);
	}
	else
	{
	    return colsOne;
	}
}

int nextPowerOf2(int n)
{
    int p = 1;
    if (n && !(n & (n - 1)))
        return n;

    while (p < n)
        p <<= 1;

    return p;
}

obliv float** padInput
    (
    obliv float **arr,
    int numCols,
    int numRows,
    int nextVal
    )
{

    obliv float **ret = malloc(sizeof(obliv float *) * nextVal);

    for (int i = 0; i < numRows; i++)
    {
        ret[i] = malloc(sizeof(obliv float) * numCols);
        for (int j = 0; j < numCols; j++)
        {
            ret[i][j] = arr[i][j];
        }
    }

    for (int i = numRows; i < nextVal; i++)
    {
        ret[i] = malloc(sizeof(obliv float) * numCols);
        for (int j = 0; j < numCols; j++)
        {
            ret[i][j] = 0;
        }
    }

    return ret;
}

bool isPowerOfTwo(int n)
{
   return (ceil(log2(n)) == floor(log2(n)));
}

void matToObliv
	(
	Io *io,
	int party,
	intermediateMat *ret
	)
{
	int numRows = ocBroadcastInt(io->rows, party);
	int numCols = ocBroadcastInt(io->cols, party);

	obliv float **array = malloc(sizeof(obliv float *) * numRows);
	obliv float *keepRows = malloc(sizeof(obliv float) * numRows);

	for (int i = 0; i < numRows; i++)
	{
		array[i] = malloc(sizeof(obliv float) * numCols);
		keepRows[i] = 1;
		for (int j = 0; j < numCols; j++)
		{
			array[i][j] = feedOblivFloat(io->mat[i][j], party);
		}
	}

	ret->rows = numRows;
	ret->cols = numCols;
	ret->mat = array;
	ret->keepRows = keepRows;

	printf("matToObliv DONE \n");
}

void concat
	(
	intermediateMat *matOne,
	intermediateMat *matTwo,
	intermediateMat *ret
	)
{
	int numCols = checkInputCols(matOne->cols, matTwo->cols);
	int numRows = matOne->rows + matTwo->rows;

	obliv float *keepRows = malloc(sizeof(obliv float) * numRows);
	obliv float **array = malloc(sizeof(obliv float *) * numRows);

	for (int i = 0; i < matOne->rows; i++)
	{
		keepRows[i] = matOne->keepRows[i];

		array[i] = malloc(sizeof(obliv float) * numCols);
		for (int j = 0; j < numCols; j++)
		{
			array[i][j] = matOne->mat[i][j];
		}
	}

	int m = 0;
	for (int i = matOne->rows; i < numRows; i++)
	{
		keepRows[i] = matTwo->keepRows[m];

		array[i] = malloc(sizeof(obliv float) * numCols);
		for (int j = 0; j < numCols; j++)
		{
			array[i][j] = matTwo->mat[m][j];
		}
		m++;
	}

	ret->rows = numRows;
	ret->cols = numCols;
	ret->mat = array;
	ret->keepRows = keepRows;

	printf("concat DONE \n");
}

void addRow
	(
		obliv float *srcOne,
		obliv float *srcTwo,
		obliv float *dest,
		int colsInOne,
		int colsInTwo,
		int joinColTwo
	)
{
	for (int i = 0; i < colsInOne; i++)
	{
		dest[i] = srcOne[i];
	}

	int m = colsInOne;
	for (int i = 0; i < colsInTwo; i++)
	{
		if (i != joinColTwo)
		{
			dest[m] = srcTwo[i];
			m++;
		}
	}
}

void join
	(
	intermediateMat *matOne,
	intermediateMat *matTwo,
	intermediateMat *ret,
	int joinColOne,
	int joinColTwo
	)
{

	int numColsOne = matOne->cols;
	int numColsTwo = matTwo->cols;

	int numRowsOne = matOne->rows;
	int numRowsTwo = matTwo->rows;

	int numOutCols = numColsOne + numColsTwo - 1;
	int maxOutRows = numRowsOne * numRowsTwo;

	obliv float **array = malloc(sizeof(obliv float *) * maxOutRows);
	obliv float *keepRows = malloc(sizeof(obliv float) * maxOutRows);

	int currentRow = 0;

	for (int i = 0; i < numRowsOne; i++)
	{
		for (int j = 0; j < numRowsTwo; j++)
		{
			array[currentRow] = calloc(numOutCols, sizeof(obliv float));
			addRow(matOne->mat[i], matTwo->mat[j], array[currentRow], numColsOne, numColsTwo, joinColTwo);

			// check keepRow flags for both rows
			obliv float keepThisRow = matOne->keepRows[i] * matTwo->keepRows[j];

			obliv if (matOne->mat[i][joinColOne] == matTwo->mat[j][joinColTwo])
			{
				keepRows[currentRow] = keepThisRow;
			}
			else
			{
				keepRows[currentRow] = 0;
			}
			currentRow++;
		}
	}

	ret->rows = maxOutRows;
	ret->cols = numOutCols;
	ret->mat = array;
	ret->keepRows = keepRows;
}

void addRowLeaky
	(
	obliv float *srcOne,
	obliv float *srcTwo,
	obliv float *dest,
	int colsInOne,
	int colsInTwo,
	int joinColTwo
	) obliv
{

	obliv float a = 1;
	dest[0] = a;
	for (int i = 1; i < colsInOne + 1; i++)
	{
		dest[i] = srcOne[i - 1];
	}

	int m = colsInOne + 1;
	for (int i = 0; i < colsInTwo; i++)
	{
		if (i != joinColTwo)
		{
			dest[m] = srcTwo[i];
			m++;
		}
	}
}

void joinLeaky
	(
	intermediateMat *matOne,
	intermediateMat *matTwo,
	intermediateMat *ret,
	int joinColOne,
	int joinColTwo
	)
{

	int numColsOne = matOne->cols;
	int numColsTwo = matTwo->cols;

	int numRowsOne = matOne->rows;
	int numRowsTwo = matTwo->rows;

	int numOutCols = numColsOne + numColsTwo;
	int maxOutRows = numRowsOne * numRowsTwo;

	obliv float **array = malloc(sizeof(obliv float *) * maxOutRows);

	int currentRow = 0;
	obliv int matchRows = 0;

	for (int i = 0; i < numRowsOne; i++)
	{
		for (int j = 0; j < numRowsTwo; j++)
		{
			array[currentRow] = calloc(numOutCols, sizeof(obliv float));
			obliv if (matOne->mat[i][joinColOne] == matTwo->mat[j][joinColTwo])
			{
				addRowLeaky(matOne->mat[i], matTwo->mat[j], array[currentRow], numColsOne, numColsTwo, joinColTwo);
				matchRows++;
			}
			currentRow++;
		}
	}

	int outRows;
	revealOblivInt(&outRows, matchRows, 0);

	obliv float **outArray = malloc(sizeof(obliv float *) * outRows);

	int currentRow = 0;
	for (int i = 0; i < maxOutRows; i++)
	{
		float matchReveal;
		revealOblivFloat(&matchReveal, array[i][0], 0);
		if (matchReveal == 1)
		{
			outArray[currentRow] = malloc(sizeof(obliv float) * (numOutCols - 1));
			for (int j = 0; j < numOutCols - 1; j++)
			{
				outArray[currentRow][j] = array[i][j + 1];
			}
			currentRow++;
		}
		free(array[i]);
	}

	ret->rows = outRows;
	ret->cols = numOutCols - 1;
	ret->mat = outArray;
}

void project
	(
	intermediateMat *mat,
	intermediateMat *ret,
	int *projCols
	)
{
	int numRows = mat->rows;
	int numCols = ret->cols;

	obliv float **array = malloc(sizeof(obliv float *) * numRows);
	obliv float *keepRows = malloc(sizeof(obliv float) * numRows);

	for (int i = 0; i < numRows; i++)
	{
		keepRows[i] = mat->keepRows[i];

		array[i] = malloc(sizeof(obliv float) * numCols);
		for (int j = 0; j < numCols; j++)
		{
			int idx = projCols[j];
			array[i][j] = mat->mat[i][idx];
		}
	}

	ret->rows = numRows;
	ret->mat = array;
	ret->keepRows = keepRows;
}

void limitLeaky
    (
    intermediateMat *mat,
    intermediateMat *ret,
    int num
    )
{
    int numInRows = mat->rows;
    int numCols = mat->cols;
    int numRows;

    if (num < numInRows)
    {
        numRows = num;
    }
    else
    {
        numRows = numInRows;
    }

    obliv float **array = malloc(sizeof(obliv float *) * numRows);
    obliv float *keepRows = malloc(sizeof(obliv float) * numRows);

    for (int i = 0; i < numRows; i++)
    {
        keepRows[i] = mat->keepRows[i];

        array[i] = malloc(sizeof(obliv float) * numCols);
        for (int j = 0; j < numCols; j++)
        {
            array[i][j] = mat->mat[i][j];
        }
    }

    ret->rows = numRows;
    ret->mat = array;
    ret->keepRows = keepRows;
}

void limit
    (
    intermediateMat *mat,
    intermediateMat *ret,
    int num
    )
{

    // TODO: switch keepRows flags to 0 once limit num is reached
    int numInRows = mat->rows;
    int numCols = mat->cols;
    int numRows;

    if (num < numInRows)
    {
        numRows = num;
    }
    else
    {
        numRows = numInRows;
    }

    obliv float **array = malloc(sizeof(obliv float *) * numInRows);
    obliv float *keepRows = malloc(sizeof(obliv float) * numRows);

    for (int i = 0; i < numInRows; i++)
    {
        keepRows[i] = mat->keepRows[i];

        array[i] = malloc(sizeof(obliv float) * numCols);
        for (int j = 0; j < numCols; j++)
        {
            array[i][j] = mat->mat[i][j];
        }
    }

    ret->rows = numRows;
    ret->mat = array;
    ret->keepRows = keepRows;
}

void multiply
	(
	intermediateMat *mat,
	intermediateMat *ret,
	int *operands,
	int numOperands,
	float scalar,
	int opColIdx,
	bool newCol
	)
{
	int numRows = mat->rows;
	int numCols = mat->cols;

	if (newCol)
	{
		numCols++;
	}

	obliv float **array = malloc(sizeof(obliv float *) * numRows);
	obliv float *keepRows = malloc(sizeof(obliv float) * numRows);

	for (int i = 0; i < numRows; i++)
	{
		keepRows[i] = mat->keepRows[i];
		array[i] = malloc(sizeof(obliv float) * numCols);
		for (int j = 0; j < numCols; j++)
		{
			if (j != opColIdx)
			{
				array[i][j] = mat->mat[i][j];
			}
			else
			{
				obliv float temp = 1;
				temp = temp * scalar;
				for (int k = 0; k < numOperands; k++)
				{
					int colIdx = operands[k];
					temp = temp * mat->mat[i][colIdx];
				}
				array[i][j] = temp;
			}
		}
	}

	ret->cols = numCols;
	ret->rows = numRows;
	ret->mat = array;
	ret->keepRows = keepRows;
}

void divide
	(
	intermediateMat *mat,
	intermediateMat *ret,
	int *operands,
	int numOperands,
	float scalar,
	int opColIdx,
	bool newCol
	)
{
	int numRows = mat->rows;
	int numCols = mat->cols;

	if (newCol)
	{
		numCols++;
	}

	obliv float **array = malloc(sizeof(obliv float *) * numRows);
	obliv float *keepRows = malloc(sizeof(obliv float) * numRows);

	for (int i = 0; i < numRows; i++)
	{
		keepRows[i] = mat->keepRows[i];
		array[i] = malloc(sizeof(obliv float) * numCols);
		for (int j = 0; j < numCols; j++)
		{
			if (j != opColIdx)
			{
				array[i][j] = mat->mat[i][j];
			}
			else
			{
				int initCol = operands[0];
				obliv float temp = mat->mat[i][initCol] / scalar;
				for (int k = 1; k < numOperands; k++)
				{
					int colIdx = operands[k];
					temp = temp / mat->mat[i][colIdx];
				}
				array[i][j] = temp;
			}
		}
	}

	ret->cols = numCols;
	ret->rows = numRows;
	ret->mat = array;
	ret->keepRows = keepRows;
}

void compareExchange
	(
		obliv float **array,
		obliv float *keepRows,
		int keyCol,
		int numCols,
		int i,
		int j,
		bool ascending,
		int numRows
	)
{
	if (i >= numRows || j >= numRows) {
		return;
	}

	obliv float x = array[i][keyCol];
	obliv float y = array[j][keyCol];

	obliv float c;
	obliv float d;

	if (ascending)
	{
		obliv if (x < y)
		{
			c = 1;
			d = 0;
		}
		else
		{
			c = 0;
			d = 1;
		}
	}
	else
	{
		obliv if (x > y)
		{
			c = 1;
			d = 0;
		}
		else
		{
			c = 0;
			d = 1;
		}
	}

	obliv float keepRowsI = (c * keepRows[i]) + (d * keepRows[j]);
	obliv float keepRowsJ = (d * keepRows[i]) + (c * keepRows[j]);

	obliv float *temp1 = malloc(sizeof(obliv float) * numCols);
	obliv float *temp2 = malloc(sizeof(obliv float) * numCols);

	for (int k = 0; k < numCols; k++)
	{
		obliv float a = array[i][k];
		obliv float b = array[j][k];

		temp1[k] = (c * a) + (d * b);
		temp2[k] = (d * a) + (c * b);
	}

	array[i] = temp1;
	array[j] = temp2;

	keepRows[i] = keepRowsI;
	keepRows[j] = keepRowsJ;
}

void oddEvenMerge
	(
		obliv float **array,
		obliv float *keepRows,
		int keyCol,
		int numCols,
		int lo,
		int n,
		int r,
		bool ascending,
		int numRows
	)
{
	int m = r * 2;
	if (m < n)
	{
		oddEvenMerge(array, keepRows, keyCol, numCols, lo, n, m, ascending, numRows);
		oddEvenMerge(array, keepRows, keyCol, numCols, lo + r, n, m, ascending, numRows);

		for (int i = lo + r; (i + r) < (lo + n); i += m)
		{
			compareExchange(array, keepRows, keyCol, numCols, i, i + r, ascending, numRows);
		}
	} else {
		compareExchange(array, keepRows, keyCol, numCols, lo, lo + r, ascending, numRows);
	}
}

void oddEvenSort
	(
		obliv float **array,
		obliv float *keepRows,
		int keyCol,
		int numCols,
		int lo,
		int n,
		bool ascending,
		int numRows
	)
{
	if (n > 1)
	{
		int m = n / 2;
		oddEvenSort(array, keepRows, keyCol, numCols, lo, m, ascending, numRows);
		oddEvenSort(array, keepRows, keyCol, numCols, lo + m, m, ascending, numRows);
		oddEvenMerge(array, keepRows, keyCol, numCols, lo, n, 1, ascending, numRows);
	}
}

void sortBy
	(
		intermediateMat *mat,
		intermediateMat *ret,
		int keyCol
	)
{
	int numRows = mat->rows;
	int numCols = mat->cols;
	int nextPowerOfTwo = nextPowerOf2(numRows);

	obliv float **array = malloc(sizeof(obliv float *) * numRows);

	for (int i = 0; i < numRows; i++)
	{
		array[i] = malloc(sizeof(obliv float) * numCols);
		for (int j = 0; j < numCols; j++)
		{
			array[i][j] = mat->mat[i][j];
		}
	}

	obliv float *keepRows = malloc(sizeof(obliv float) * numRows);

	for (int i = 0; i < numRows; i++)
	{
		keepRows[i] = mat->keepRows[i];
	}

	oddEvenSort(array, keepRows, keyCol, numCols, 0, nextPowerOfTwo, true, numRows);

	ret->mat = array;
	ret->keepRows = keepRows;
	ret->rows = numRows;
	ret->cols = numCols;
}

void compareExchangeByKeepRows
	(
		obliv float **array,
		obliv float *keepRows,
		int numCols,
		int i,
		int j,
		int numRows
	)
{
	if (i >= numRows || j >= numRows) {
		return;
	}

	obliv float x = keepRows[i];
	obliv float y = keepRows[j];

	obliv float c;
	obliv float d;

	obliv if (x < y)
	{
		c = 1;
		d = 0;
	}
	else
	{
		c = 0;
		d = 1;
	}

	obliv float keepRowsI = (c * keepRows[i]) + (d * keepRows[j]);
	obliv float keepRowsJ = (d * keepRows[i]) + (c * keepRows[j]);

	obliv float *temp1 = malloc(sizeof(obliv float) * numCols);
	obliv float *temp2 = malloc(sizeof(obliv float) * numCols);

	for (int k = 0; k < numCols; k++)
	{
		obliv float a = array[i][k];
		obliv float b = array[j][k];

		temp1[k] = (c * a) + (d * b);
		temp2[k] = (d * a) + (c * b);
	}

	array[i] = temp1;
	array[j] = temp2;

	keepRows[i] = keepRowsI;
	keepRows[j] = keepRowsJ;
}

void oddEvenMergeByKeepRows
	(
		obliv float **array,
		obliv float *keepRows,
		int numCols,
		int lo,
		int n,
		int r,
		int numRows
	)
{
	int m = r * 2;
	if (m < n)
	{
		oddEvenMergeByKeepRows(array, keepRows, numCols, lo, n, m, numRows);
		oddEvenMergeByKeepRows(array, keepRows, numCols, lo + r, n, m, numRows);

		for (int i = lo + r; (i + r) < (lo + n); i += m)
		{
			compareExchangeByKeepRows(array, keepRows, numCols, i, i + r, numRows);
		}
	}
	else
	{
		compareExchangeByKeepRows(array, keepRows, numCols, lo, lo + r, numRows);
	}
}

void oddEvenSortByKeepRows
	(
		obliv float **array,
		obliv float *keepRows,
		int numCols,
		int lo,
		int n,
		int numRows
	)
{
	if (n > 1)
	{
		int m = n / 2;
		oddEvenSortByKeepRows(array, keepRows, numCols, lo, m, numRows);
		oddEvenSortByKeepRows(array, keepRows, numCols, lo + m, m, numRows);
		oddEvenMergeByKeepRows(array, keepRows, numCols, lo, n, 1, numRows);
	}
}

void shiftAgg
	(
		obliv float **arr,
		obliv float *keepRows,
		int numRows
	)
{

	for (int i = 0; i < numRows - 1; i++)
	{
		obliv float eqFlag;

		obliv if (arr[i][0] == arr[i + 1][0])
		{
			eqFlag = 1;
		}
		else
		{
			eqFlag = 0;
		}

		// only touch data if both rows are keepRows
		obliv if (keepRows[i] * keepRows[i + 1] * eqFlag != 0)
		{
			obliv float temp1 = arr[i][1] * (1 - eqFlag);
			obliv float temp2 = arr[i + 1][1] + (arr[i][1] * eqFlag);
			arr[i][1] = temp1;
			arr[i + 1][1] = temp2;

			keepRows[i] = 0;
		}
	}
}

void _agg
	(
		intermediateMat *ret,
		obliv float **array,
		int numCols,
		int numRows
	)
{

    int nextPowerOfTwo = nextPowerOf2(numRows);

	oddEvenSort(array, ret->keepRows, 0, numCols, 0, nextPowerOfTwo, true, numRows);
	shiftAgg(array, ret->keepRows, numRows);

	// TODO: move shuffle into it's own function.
	oddEvenSort(array, ret->keepRows, 1, numCols, 0, nextPowerOfTwo, false, numRows);

	obliv float **retArray = malloc(sizeof(obliv float *) * numRows);

	for (int i = 0; i < numRows; i++)
	{
		retArray[i] = malloc(sizeof(obliv float) * numCols);
		retArray[i][0] = array[i][0];
		retArray[i][1] = array[i][1];
	}

	ret->mat = retArray;
	ret->rows = numRows;
	ret->cols = numCols;
}

void _aggLeaky
	(
		intermediateMat *ret,
		obliv float **array,
		int numCols,
		int numRows
	)
{

    int nextPowerOfTwo = nextPowerOf2(numRows);

	oddEvenSort(array, ret->keepRows, 0, numCols, 0, nextPowerOfTwo, true, numRows);
	shiftAgg(array, ret->keepRows, numRows);

	// TODO: move shuffle into it's own function.
	oddEvenSort(array, ret->keepRows, 1, numCols, 0, nextPowerOfTwo, false, numRows);

	obliv int outRows = 0;

	for (int i = 0; i < numRows; i++)
	{
		obliv if (ret->keepRows[i] != 0)
		{
			outRows++;
		}
	}

	int numOutRows;
	revealOblivInt(&numOutRows, outRows, 0);

	obliv float **retArray = malloc(sizeof(obliv float *) * numOutRows);

	for (int i = 0; i < numOutRows; i++)
	{
		retArray[i] = malloc(sizeof(obliv float) * numCols);
		retArray[i][0] = array[i][0];
		retArray[i][1] = array[i][1];
	}

	ret->mat = retArray;
	ret->rows = numOutRows;
	ret->cols = numCols;
}

void agg
	(
		intermediateMat *mat,
		intermediateMat *ret,
		int keyCol,
		int aggCol,
		bool leaky
	)
{
	// TODO: numCols hardcoded as 2, generalize for multiple aggCols
	int numRows = mat->rows;
	int numCols = 2;

	obliv float **array = malloc(sizeof(obliv float *) * numRows);

	for (int i = 0; i < numRows; i++)
	{
		array[i] = malloc(sizeof(obliv float) * numCols);
		array[i][0] = mat->mat[i][keyCol];
		array[i][1] = mat->mat[i][aggCol];
	}

	obliv float *keepRows = malloc(sizeof(obliv float) * numRows);

	for (int i = 0; i < numRows; i++)
	{
		keepRows[i] = mat->keepRows[i];
	}

	ret->keepRows = keepRows;

    if (leaky)
    {
        _aggLeaky(ret, array, numCols, numRows);
    }
    else
    {
         _agg(ret, array, numCols, numRows);
    }
}

void aggCount
	(
		intermediateMat *mat,
		intermediateMat *ret,
		int keyCol,
		bool leaky
	)
{
	// TODO: numCols hardcoded as 2, generalize for multiple aggCols
	int numRows = mat->rows;
	int numCols = 2;

	obliv float **array = malloc(sizeof(obliv float *) * numRows);

	for (int i = 0; i < numRows; i++)
	{
		array[i] = malloc(sizeof(obliv float) * numCols);
		array[i][0] = mat->mat[i][keyCol];
		array[i][1] = 1;
	}

	obliv float *keepRows = malloc(sizeof(obliv float) * numRows);

	for (int i = 0; i < numRows; i++)
	{
		keepRows[i] = mat->keepRows[i];
	}

	ret->keepRows = keepRows;

    if (leaky)
	{
		_aggLeaky(ret, array, numCols, numRows);
	}
	else
	{
		_agg(ret, array, numCols, numRows);
	}
}

void shiftAggMeanCountCol
	(
		obliv float **arr,
		obliv float *keepRows,
		int numRows
	)
{

	for (int i = 0; i < numRows - 1; i++)
	{
		obliv float eqFlag;

		obliv if (arr[i][0] == arr[i + 1][0])
		{
			eqFlag = 1;
		}
		else
		{
			eqFlag = 0;
		}

		obliv if (keepRows[i] * keepRows[i + 1] * eqFlag != 0)
		{
			obliv float temp1 = arr[i][1] * (1 - eqFlag);
			obliv float temp2 = arr[i + 1][1] + (arr[i][1] * eqFlag);

			obliv float tempCount1 = arr[i][2] * (1 - eqFlag);
			obliv float tempCount2 = arr[i + 1][2] + (arr[i][2] * eqFlag);

			arr[i][1] = temp1;
			arr[i + 1][1] = temp2;

			arr[i][2] = tempCount1;
			arr[i + 1][2] = tempCount2;

			keepRows[i] = 0;
		}
	}
}

void _aggMeanWithCountCol
	(
		intermediateMat *ret,
		obliv float **array,
		int numRows,
		int nextPowTwo
	)
{
	oddEvenSort(array, ret->keepRows, 0, 3, 0, nextPowTwo, true, numRows);
	shiftAggMeanCountCol(array, ret->keepRows, numRows);
}

void aggMeanWithCountCol
	(
		intermediateMat *mat,
		intermediateMat *ret,
		int keyCol,
		int aggCol,
		int countCol
	)
{

	int numRows = mat->rows;
	int numCols = 3;

	int nextPowerOfTwo = nextPowerOf2(numRows);

	obliv float **array = malloc(sizeof(obliv float *) * numRows);

	for (int i = 0; i < numRows; i++)
	{
		array[i] = malloc(sizeof(obliv float) * numCols);
		array[i][0] = mat->mat[i][keyCol];
		array[i][1] = mat->mat[i][aggCol];
		array[i][2] = mat->mat[i][countCol];
	}

	obliv float *keepRows = malloc(sizeof(obliv float) * numRows);

	for (int i = 0; i < numRows; i++)
	{
		keepRows[i] = mat->keepRows[i];
	}

	ret->keepRows = keepRows;

	_aggMeanWithCountCol(ret, array, numRows, nextPowerOfTwo);
	oddEvenSort(array, ret->keepRows, 1, numCols, 0, nextPowerOfTwo, false, numRows);
	printf("oddEvenSort DONE \n");

	obliv float **retArray = malloc(sizeof(obliv float *) * numRows);

	for (int i = 0; i < numRows; i++)
	{
		retArray[i] = malloc(sizeof(obliv float) * numCols);
		retArray[i][0] = array[i][0];
		retArray[i][1] = array[i][1] / array[i][2];
	}

	ret->mat = retArray;
	ret->rows = numRows;
	ret->cols = 2;

	printf("aggMeanWithCountCol DONE \n");
}

void aggMean
	(
		intermediateMat *mat,
		intermediateMat *ret,
		int keyCol,
		int aggCol
	)
{
	int numRows = mat->rows;
	int numCols = 3;

	obliv float **array = malloc(sizeof(obliv float *) * numRows);

	for (int i = 0; i < numRows; i++)
	{
		array[i] = malloc(sizeof(obliv float) * numCols);
		array[i][0] = mat->mat[i][keyCol];
		array[i][1] = mat->mat[i][aggCol];
		array[i][2] = 1;
	}

	obliv float *keepRows = malloc(sizeof(obliv float) * numRows);

	for (int i = 0; i < numRows; i++)
	{
		keepRows[i] = mat->keepRows[i];
	}

	intermediateMat aggMeanIntermediate;

	aggMeanIntermediate.mat = array;
	aggMeanIntermediate.keepRows = keepRows;
	aggMeanIntermediate.rows = numRows;
	aggMeanIntermediate.cols = numCols;

	intermediateMat aggMeanRet;

	aggMeanWithCountCol(&aggMeanIntermediate, &aggMeanRet, 0, 1, 2);

	ret->mat = aggMeanRet.mat;
	ret->keepRows = aggMeanRet.keepRows;
	ret->rows = aggMeanRet.rows;
	ret->cols = aggMeanRet.cols;

	free(array);
	free(keepRows);
	printf("AGGMEAN DONE \n");
}

void aggMeanLeaky
	(
		intermediateMat *mat,
		intermediateMat *ret,
		int keyCol,
		int aggCol
	)
{
	int numRows = mat->rows;
	int numCols = 3;

	obliv float **array = malloc(sizeof(obliv float *) * numRows);

	for (int i = 0; i < numRows; i++)
	{
		array[i] = malloc(sizeof(obliv float) * numCols);
		array[i][0] = mat->mat[i][keyCol];
		array[i][1] = mat->mat[i][aggCol];
		array[i][2] = 1;
	}

	obliv float *keepRows = malloc(sizeof(obliv float) * numRows);

	for (int i = 0; i < numRows; i++)
	{
		keepRows[i] = mat->keepRows[i];
	}

	intermediateMat aggMeanIntermediate;

	aggMeanIntermediate.mat = array;
	aggMeanIntermediate.keepRows = keepRows;
	aggMeanIntermediate.rows = numRows;
	aggMeanIntermediate.cols = numCols;

	intermediateMat aggMeanIntermediateTwo;
	aggMeanWithCountCol(&aggMeanIntermediate, &aggMeanIntermediateTwo, 0, 1, 2);

	free(aggMeanIntermediate.mat);
	free(aggMeanIntermediate.keepRows);

	obliv float outRows = 0;

	for (int i = 0; i < aggMeanIntermediateTwo.rows; i++)
	{
		outRows = outRows + aggMeanIntermediateTwo.keepRows[i];
	}

	float numOutRows;
	revealOblivFloat(&numOutRows, outRows, 0);

	obliv float **retArray = malloc(sizeof(obliv float *) * numOutRows);
	obliv float *retKeepRows = malloc(sizeof(obliv float) * numOutRows);

	for (int i = 0; i < numOutRows; i++)
	{
		retArray[i] = malloc(sizeof(obliv float) * 2);
		retArray[i][0] = aggMeanIntermediateTwo.mat[i][0];
		retArray[i][1] = aggMeanIntermediateTwo.mat[i][1];

		retKeepRows[i] = aggMeanIntermediateTwo.keepRows[i];
	}

	free(aggMeanIntermediateTwo.mat);
	free(aggMeanIntermediateTwo.keepRows);

	ret->mat = retArray;
	ret->rows = numOutRows;
	ret->cols = 2;
	ret->keepRows = retKeepRows;
}

void stdDev
	(
		intermediateMat *mat,
		intermediateMat *ret,
		int keyCol,
		int aggCol
	)
{
	int numRows = mat->rows;
	int numCols = 2;

	obliv float **array = malloc(sizeof(obliv float *) * numRows);

	for (int i = 0; i < numRows; i++)
	{
		array[i] = malloc(sizeof(obliv float) * numCols);
		array[i][0] = mat->mat[i][keyCol];
		array[i][1] = mat->mat[i][aggCol];
	}

	intermediateMat aggMeanOut;
	aggMean(mat, &aggMeanOut, keyCol, aggCol);

	for (int i = 0; i < numRows; i++)
	{
		for (int j = 0; j < aggMeanOut.rows; j++)
		{
			obliv if(array[i][0] == aggMeanOut.mat[j][0])
			{
				obliv float keepFlag = mat->keepRows[i] * aggMeanOut.keepRows[j];
				obliv if (keepFlag > 0)
				{
					obliv float temp = array[i][1] - (keepFlag * aggMeanOut.mat[j][1]);
					array[i][1] = temp;
				}
			}
		}
		obliv float tempVal = array[i][1] * array[i][1];
		array[i][1] = tempVal;
	}

	intermediateMat stdDevOut;

	stdDevOut.mat = array;
	stdDevOut.keepRows = mat->keepRows;
	stdDevOut.rows = numRows;
	stdDevOut.cols = 2;

	aggMean(&stdDevOut, ret, 0, 1);
}

obliv float binarySearchHelper
	(
		obliv float **array,
		obliv float element,
		int numRows,
		int numCols,
		int keyCol,
		int retCol
	)
{
	if (numRows == 1)
	{
		return array[0][retCol];
	}

	int mid = floor(numRows / 2);
	int midNumIdx = mid;
	if ((mid * 2) < numRows)
	{
		midNumIdx++;
	}

	obliv float **retArray = malloc(sizeof(obliv float *) * midNumIdx);

	for (int i = 0; i < midNumIdx; i++)
	{
		retArray[i] = malloc(sizeof(obliv float) * numCols);
		for (int j = 0; j < numCols; j++)
		{
			obliv float temp;
			obliv if (element < array[mid][keyCol])
			{
				temp = array[i][j];
			}
			else
			{
				temp = array[i + mid][j];
			}
			retArray[i][j] = temp;
		}
	}

	return binarySearchHelper(retArray, element, midNumIdx, numCols, keyCol, retCol);
}

void stdDevLeaky
	(
		intermediateMat *mat,
		intermediateMat *ret,
		int keyCol,
		int aggCol
	)
{
	int numRows = mat->rows;
	int numCols = 2;

	obliv float **array = malloc(sizeof(obliv float *) * numRows);

	for (int i = 0; i < numRows; i++)
	{
		array[i] = malloc(sizeof(obliv float) * numCols);
		array[i][0] = mat->mat[i][keyCol];
		array[i][1] = mat->mat[i][aggCol];
	}

	intermediateMat aggMeanOut;
	aggMeanLeaky(mat, &aggMeanOut, keyCol, aggCol);
	intermediateMat sortedAggMeanOut;
	sortBy(&aggMeanOut, &sortedAggMeanOut, 0);

	for (int i = 0; i < numRows; i++)
	{
		obliv float subVal = binarySearchHelper(sortedAggMeanOut.mat, array[i][0], sortedAggMeanOut.rows, 2, 0, 1);
		obliv float temp = array[i][1] - subVal;
		array[i][1] = temp * temp;
	}

	intermediateMat stdDevOut;

	stdDevOut.mat = array;
	stdDevOut.keepRows = mat->keepRows;
	stdDevOut.rows = numRows;
	stdDevOut.cols = 2;

	aggMeanLeaky(&stdDevOut, ret, 0, 1);
}

void revealResult
	(
	intermediateMat *mat,
	int party,
	protocolIo *io
	)
{

	float *keepFlags = malloc(sizeof(float) * mat->rows);
	int outRows = 0;

	for (int i = 0; i < mat->rows; i++)
	{
		revealOblivFloat(&keepFlags[i], mat->keepRows[i], 0);
		if (keepFlags[i] == 1)
		{
			outRows++;
		}
	}

	float **array = malloc(sizeof(float *) * outRows);

	int currentRetIdx = 0;
	for (int i = 0; i < mat->rows; i++)
	{
		if (keepFlags[i] == 1)
		{
			array[currentRetIdx] = malloc(sizeof(float) * mat->cols);
			for (int j = 0; j < mat->cols; j++)
			{
				revealOblivFloat(&array[currentRetIdx][j], mat->mat[i][j], party);
			}
			currentRetIdx++;
		}
	}

	io->ret = array;
	io->out_rows = outRows;
	io->out_cols = mat->cols;
}

void _distinctCount
	(
		intermediateMat *ret,
		obliv float **array,
		obliv float *keepRows,
		int numRows
	)
{
	obliv float retVal = 1;

	for (int i = 0; i < numRows - 1; i++)
	{
        obliv float tempKeep = keepRows[i] * keepRows[i + 1];

		obliv if (!(array[i][0] == array[i + 1][0]))
		{
		    retVal = retVal + tempKeep;
		}
	}

	obliv float **retArray = malloc(sizeof(obliv float *) * 1);
	retArray[0] = malloc(sizeof(obliv float) * 1);
	retArray[0][0] = retVal;

	obliv float *keepRows = malloc(sizeof(obliv float) * 1);
	keepRows[0] = 1;

	ret->mat = retArray;
	ret->keepRows = keepRows;
	ret->rows = 1;
	ret->cols = 1;
}

void distinctCountPreSorted
	(
		intermediateMat *mat,
		intermediateMat *ret,
		int keyCol
	)
{
	int numRows = mat->rows;
	obliv float **array = malloc(sizeof(obliv float *) * numRows);
	obliv float *keepRows = malloc(sizeof(obliv float) * numRows);

	for (int i = 0; i < numRows; i++)
	{
		array[i] = malloc(sizeof(obliv float) * 1);
		array[i][0] = mat->mat[i][keyCol];

		keepRows[i] = mat->keepRows[i];
	}

	_distinctCount(ret, array, keepRows, numRows);
}

void distinctCount
	(
		intermediateMat *mat,
		intermediateMat *ret,
		int keyCol
	)
{
	int numRows = mat->rows;
	int nextPowerOfTwo = nextPowerOf2(numRows);

	obliv float **array = malloc(sizeof(obliv float *) * numRows);

	for (int i = 0; i < numRows; i++)
	{
		array[i] = malloc(sizeof(obliv float) * 1);
		array[i][0] = mat->mat[i][keyCol];
	}

	obliv float *keepRows = malloc(sizeof(obliv float) * numRows);

	for (int i = 0; i < numRows; i++)
	{
		keepRows[i] = mat->keepRows[i];
	}

	oddEvenSort(array, keepRows, 0, 1, 0, nextPowerOfTwo, true, numRows);
	_distinctCount(ret, array, keepRows, numRows);
}


void filterEqByConstant
	(
		intermediateMat *mat,
		intermediateMat *ret,
		int keyCol,
		float constant
	)
{
	int numRows = mat->rows;
	int numCols = mat->cols;

	obliv float **array = malloc(sizeof(obliv float *) * numRows);
	obliv float *keepRows = malloc(sizeof(obliv float) * numRows);

	for (int i = 0; i < numRows; i++)
	{
		array[i] = malloc(sizeof(obliv float) * numCols);

		for (int j = 0; j < numCols; j++)
		{
			array[i][j] = mat->mat[i][j];
		}

		obliv int eqFlag;
		eqFlag = (mat->mat[i][keyCol] == constant);

		obliv if (eqFlag)
		{
			keepRows[i] = mat->keepRows[i];
		}
		else
		{
			keepRows[i] = 0;
		}

	}

	ret->mat = array;
	ret-> keepRows = keepRows;
	ret->cols = numCols;
	ret->rows = numRows;
}

void multiplyMatrices
	(
		intermediateMat *matOne,
		intermediateMat *matTwo,
		intermediateMat *ret
	)
{
	if (matOne->rows != matTwo->rows)
	{
		printf("Unequal number of rows for multiplyMatrices operator.");
		exit(1);
	}
	if (matOne->cols != matTwo->cols)
	{
		printf("Unequal number of columns for multiplyMatrices operator.");
		exit(1);
	}

	int numRows = matOne->rows;
	int numCols = matOne->cols;

	obliv float **array = malloc(sizeof(obliv float *) * numRows);
	obliv float *keepRows = malloc(sizeof(obliv float) * numRows);

	for (int i = 0; i < numRows; i++)
	{
		keepRows[i] = matOne->keepRows[i] * matTwo->keepRows[i];

		array[i] = malloc(sizeof(obliv float) * numCols);
		for (int j = 0; j < numCols; j++)
		{
			array[i][j] = matOne->mat[i][j] * matTwo->mat[i][j];
		}
	}

	ret->rows = numRows;
	ret->cols = numCols;
	ret->mat = array;
	ret->keepRows = keepRows;
}

void concatCols
	(
		intermediateMat *matOne,
		intermediateMat *matTwo,
		intermediateMat *ret
	)
{
	if (matOne->rows != matTwo->rows)
	{
		printf("Unequal number of rows for concatCols operator.");
		exit(1);
	}

	int numRows = matOne->rows;

	int numColsOne = matOne->cols;
	int numColsTwo = matTwo->cols;
	int totalCols = numColsOne + numColsTwo;

	obliv float **array = malloc(sizeof(obliv float *) * numRows);
	obliv float *keepRows = malloc(sizeof(obliv float) * numRows);

	for (int i = 0; i < numRows; i++)
	{
		keepRows[i] = matOne->keepRows[i] * matTwo->keepRows[i];

		array[i] = malloc(sizeof(obliv float) * totalCols);
		for (int j = 0; j < totalCols; j++)
		{
			if (j < numColsOne)
			{
				array[i][j] = matOne->mat[i][j];
			}
			else
			{
				array[i][j] = matTwo->mat[i][j - numColsOne];
			}
		}
	}

	ret->rows = numRows;
	ret->cols = totalCols;
	ret->mat = array;
	ret->keepRows = keepRows;
}

void protocol(void *args)
{

    protocolIo *io = (protocolIo*) args;
{{{OP_CODE}}}

}